
/* CSS BY Rachel Corona */

/* IMPORTED FONTS */
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* CSS RESET? */
    /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
    */

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

/* ROOT VARIABLES */
:root {
  --teal:#4CA7C0;
  --purple:#484FB7;
  --lavender:#6B8FE7;
  --yellow:#E9BB57;
  --pink:#D9526F;
  --dark-gray:#1E1E1E;;
  --white:#ffffff;
}

/* GLOBAL STYLES (mobile first/small) */
body {
    font-family:Inter, sans-serif;
    background-color: var(--lavender);
}
header, main, nav, footer {
    max-width: 450px;
    margin:0px auto;
    background-color: var(--purple);
    padding:15px 0px;
}
a {
    color:var(--teal);
}
h1 {
    font-size:3em;
    font-family:Kavoon, sans-serif;
    color:var(--white);
    margin:5px;
}
h2 {
    font-family:Kavoon, sans-serif;
    font-size:2em;
    color:var(--white);
    margin:10px 0px 10px 20px;
}
h3 {
    font-size:1.5em;
    color:var(--yellow);
    font-weight:bold;
    margin:15px 0px 15px 20px;
}
h4 {
    font-size:1.15em;
    color:var(--purple);
    font-weight:bold;
    line-height:2em;
}
p {
    line-height:1.5em;
}
header {
    text-align:center;
}
header p {
    font-size:0.9em;
    color:var(--white);
    font-style:italic;
}
nav {
    background-color:var(--yellow);
    text-align:center;
}
nav h2 {
    color:var(--dark-gray);
    text-transform:uppercase;
    font-family:Inter, sans-serif;
    font-weight:bold;
    font-style:italic;
    font-size:1.5em;
}
nav a {
    display:block;
    color:var(--purple);
    background-color:var(--white);
    margin:12px 20px;
    padding:15px;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:bold;
}
nav a:hover {
    background-color:var(--purple);
    color:var(--white);
}
.whitesection {
    background-color:var(--white);
    padding:25px;
    margin:25px;
    border-radius:15px;
}
.redsection {
    background-color:var(--pink);
    padding:25px;
}
.redsection a {
    display:block;
    background-color:var(--white);
    text-align:center;
    text-transform:uppercase;
    text-decoration:none;
    padding:25px;
    color:var(--dark-gray);
    width:300px;
    box-shadow: 7px 7px 5px var(--dark-gray);
    margin:10px auto 0px auto;
    border-radius:20px;
    font-weight:bold;
}
.redsection h2, nav h2 {
    margin:0px 0px 10px 0px;
}
.redsection p {
    color:var(--white);
}
.redsection a:hover {
    background-color:var(--yellow);
}
.pricingsection {
    padding:10px 0px;
}
main ul, footer ul {
    display:flex;
    flex-wrap:wrap;
    text-align:center;
}
main li {
    display:flex;
    width:47%;
    height:100px;
    box-sizing:border-box;
    align-items:center;
    justify-content:center;
    margin:5px 5px;
    font-weight:bold;
    font-size:1.2em;
    line-height:1.2em;
    border-radius:15px;
}
footer li {
    display:flex;
    font-size:0.8em;
    width:50%;
    color:var(--white);
    align-items:center;
    justify-content:center;
    padding:10px 0px;
}
footer a {
    color:var(--white);
}
.greenbg {
    background-color:var(--teal);
}
.bluebg {
    background-color:var(--lavender);
}
.yellowbg {
    background-color:var(--yellow);
}
.whitebg {
    background-color:var(--white);
}
table {
    border:2px solid var(--yellow);
    background-color:var(--white);
    margin:0 auto;
    width:250px;
}
th {
    background-color:var(--yellow);
    color:var(--dark-gray);
    text-transform:uppercase;
    font-weight:bold;
    padding:15px;
}
td {
    padding:15px;
    border:2px solid var(--yellow);
}